/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* #122027, #004441, #444444, #354F66, #090B0C coolors.co generated pallete from background 
*/


/* COLORS */

:root {
    --main-primary: #004441;
    --main-secondary: #122027;
    --main-accent: #354F66;
    --main-text: #fff;
    --main-dark: #090B0C;
    --main-dark-secondary: #0B0D0C;
    --main-gray: #444444;
}

body {
    color: var(--main-text);
}

nav {
    height: 65px;
    background-color: var(--main-dark);
}

main {
    background-image: url(../img/quiz-overlay.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

footer {
    height: fit-content;
    background-color: var(--main-dark-secondary);
}


/* NAVBAR */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo i {
    font-size: 3rem;
    color: var(--main-accent);
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
    transform: rotate3d(1, 0, 1, 30deg);
    vertical-align: middle;
}

#logo i:hover {
    color: var(--main-gray);
}

#logo span {
    font-family: 'Varela Round', sans-serif;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

#dropdown i {
    font-size: 2rem;
    margin-right: 15px;
}

#drop-menu {
    display: none;
}


/* FOOTER */

#footer-content {
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-dark-secondary);
    padding: 1rem;
}

#footer-content span i {
    color: var(--main-accent);
    vertical-align: middle;
    padding-bottom: 5px;
    transform: rotate3d(1, 0, 1, 30deg);
}

#footer-content span:first-of-type {
    font-size: 2rem;
}

#footer-content span:last-of-type {
    font-size: 1rem;
}