/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* #122027, #004441, #444444, #354F66, #090B0C coolors.co generated pallete from background 
*/


/* COLORS */

:root {
    --main-primary: rgb(0, 68, 65);
    --main-secondary: rgb(18, 32, 39);
    --main-accent: rgb(53, 79, 102);
    --main-text: rgb(255, 255, 255);
    --main-dark: rgb(9, 11, 12);
    --main-dark-secondary: rgb(11, 13, 12);
    --main-gray: rgb(68, 68, 68);
}

body {
    color: var(--main-text);
}

nav {
    height: 65px;
    background-color: var(--main-dark);
}

main {
    background-image: url(../img/quiz-overlay.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

footer {
    height: fit-content;
    background-color: var(--main-dark-secondary);
}


/* NAVBAR */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo i {
    font-size: 3rem;
    color: var(--main-accent);
    padding: 5px;
    margin-left: 15px;
    margin-right: 5px;
    transform: rotate3d(1, 0, 1, 30deg);
    vertical-align: middle;
}

#logo i:hover {
    color: var(--main-gray);
}

#logo span {
    font-family: 'Varela Round', sans-serif;
    vertical-align: middle;
    font-size: 2rem;
    font-weight: bold;
}

#dropdown i {
    font-size: 2rem;
    margin-right: 15px;
}

#drop-menu {
    display: none;
}


/* FOOTER */

#footer-content {
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-dark-secondary);
    padding: 1rem;
}

#footer-content span i {
    color: var(--main-accent);
    vertical-align: middle;
    padding-bottom: 5px;
    transform: rotate3d(1, 0, 1, 30deg);
}

#footer-content span:first-of-type {
    font-size: 2rem;
}

#footer-content span:last-of-type {
    font-size: 1rem;
}


/* QUIZ BODY - main content */

main .container {
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

#quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    border: 2px solid #fff;
    border-radius: 1rem;
}

#quiz-header {
    min-height: 100px;
    height: fit-content;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: var(--main-secondary);
}

#quiz-body {
    text-align: center;
    width: 100%;
    background-color: var(--main-accent);
    padding: 1rem 0 rem;
    font-size: 1.5rem;
}

#quiz-submit {
    background-color: var(--main-gray);
    text-align: center;
    height: fit-content;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-top: 1px solid var(--main-text);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--main-text);
}

#question {
    padding: 1rem;
}

.answers {
    cursor: pointer;
    padding: 0.75rem;
    background-color: var(--main-primary);
    margin-bottom: 5px;
}

.answers:hover,
#quiz-submit:hover {
    background-color: var(--main-secondary);
}